<div style="background-size: cover;
background-image: url(https://imgs.search.brave.com/oPV48xccqWgNLpY4WRhlOEF6FYGxOirYbVe7cLJ1rb0/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9pbWFn/ZXMuZnJlZWNyZWF0/aXZlcy5jb20vd3At/Y29udGVudC91cGxv/YWRzLzIwMTYvMDMv/QW1hemluZy1Qb2tl/bW9uLUJhY2tncm91/bmQtV2FsbHBhcGVy/LmpwZw);"*ngIf="pokemons">
<h1 class="center titles_edit_create">Liste de Pokémons </h1>

<pokemon-search></pokemon-search>
<a style=" margin-left: 40%;"class="waves-effect waves-light btn center waves-effect waves-light blue" (click)="addPokemon()">Ajouter un nouveau Pokémon au Pokédex !</a>
<div class="container">
    <div class="row">
        <div *ngFor="let pokemon of pokemons" class="col s6 m4 border_radius_foritems">
            <div class="card horizontal border_radius_foritems" pkmnBorderCard (click)="selectPokemon(pokemon);play(pokemon)">
                <div class="card-image">
                    <img [src]="pokemon.picture" alt="">
                </div>
                <div list-pokemonsclass="card-content">
                    <p>{{ pokemon.name }}</p>
                    <p>
                        <small>{{ pokemon.created | date: "dd/MM/yy" }}</small><br>
                    </p>
                    <span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }}">
                        {{ type }}
                    </span>
                    <audio src="{{pokemon.sound}}" width="300" style="max-width: 100%; width: 300px;" controls=""></audio>
                </div>
            </div>     
        </div>
    </div> 
</div>

<h4 *ngIf="!pokemons" class="center">
    <pkmn-loader></pkmn-loader>
</h4>