<nav>
  <div class="nav-wrapper teal">
    <a href="pokemon/all" class="brand-logo center">
      <img style="    max-height: 50%;
      max-width: 7%;
      vertical-align: sub;" src="https://imgs.search.brave.com/Zkk7m3jS5yaJOW2_zDE3FMSdIb8v20UwNmJo9QzVW88/rs:fit:684:523:1/g:ce/aHR0cHM6Ly92aWdu/ZXR0ZS53aWtpYS5u/b2Nvb2tpZS5uZXQv/cG9rZXBlZGlhYnIv/aW1hZ2VzLzMvMzgv/UG9rJUMzJUE5ZGV4/X0thbnRvLnBuZy9y/ZXZpc2lvbi9sYXRl/c3Q_Y2I9MjAxMzEy/MjQwMTQxMjEmcGF0/aC1wcmVmaXg9cHQt/YnI"/>
      Pok'Application
    </a>
  </div>
</nav>      
<router-outlet></router-outlet>