
<div  *ngIf="pokemon"  class="row">
  <div class="col s12 m8 offset-m2">
    <h2 class="header center titles_edit_create">{{ pokemon.name }}</h2>
    <div class="card horizontal hoverable border_radius_foritems" >
      <div class="card-image">
        <img [src]="pokemon.picture">
      </div>
      <div class="card-stached">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
              <tr>
                <td>Nom</td>
                <td><strong>{{ pokemon.name }}</strong></td>
              </tr>
              <tr>
                <td>Points de vie</td>
                <td><strong>{{ pokemon.hp }}</strong></td>
              </tr>
              <tr>
                <td>Dégats</td>
                <td><strong>{{ pokemon.cp }}</strong></td>
              </tr>
              <tr>
                <td>Rareté</td>
                <div class="stars_class" *ngIf="pokemon.rarity == 1;">
                  <img src="../../../assets/img/star.png" style="width:20px">
                </div>
                  <div class="stars_class" *ngIf="pokemon.rarity == 2;">
                    <img src="../../../assets/img/star.png" style="width:20px">
                    <img src="../../../assets/img/star.png" style="width:20px">
                  </div>
                  <div class="stars_class" *ngIf="pokemon.rarity == 3;">
                    <img src="../../../assets/img/star.png" style="width:20px">
                    <img src="../../../assets/img/star.png" style="width:20px">
                    <img src="../../../assets/img/star.png" style="width:20px">
                  </div>
                  <div class="stars_class" *ngIf="pokemon.rarity == 4;">
                    <img src="../../../assets/img/star.png" style="width:20px">
                    <img src="../../../assets/img/star.png" style="width:20px">
                    <img src="../../../assets/img/star.png" style="width:20px">
                    <img src="../../../assets/img/star.png" style="width:20px">
                  </div>
                  <div class="stars_class" *ngIf="pokemon.rarity == 5;">
                    <img src="../../../assets/img/star.png" style="width:20px">
                    <img src="../../../assets/img/star.png" style="width:20px">
                    <img src="../../../assets/img/star.png" style="width:20px">
                    <img src="../../../assets/img/star.png" style="width:20px">
                    <img src="../../../assets/img/star.png" style="width:20px">
                  </div>
                </tr>
              <tr>
                <td>Types</td>
                <td>
                  <span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }}">{{ type }}</span>
              </td>
              </tr>
              <tr>
                <td>Cri</td>
                <td> <audio src="{{pokemon.sound}}" width="300" style="max-width: 100%; width: 300px;" controls=""></audio></td>
              </tr>
              <tr>
                <td>Date de création</td>
                <td><em>{{ pokemon.created | date:"dd/MM/yyyy" }}</em></td>
              </tr>
              <tr>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
          <a (click)="goBack()" class="waves-effect waves-light btn button_margins">Retour</a>
          <a (click)="goEdit(pokemon)" class="waves-effect waves-light btn button_margins">Editer</a>
          <a (click)="goDelete(pokemon)" class="waves-effect red btn button_margins">Supprimer</a>
        </div>
      </div>
    </div>
  </div>
</div>

<h4 *ngIf="!pokemon" class="center">
  <pkmn-loader></pkmn-loader>
</h4>